homeserver_url: "https://catcord.cathub.dedyn.io"
server_name: "catcord.cathub.dedyn.io"

bot:
  mxid: "@catcord_cleaner:catcord.cathub.dedyn.io"
  access_token: ""

policy:
  retention_days:
    image: 90
    non_image: 30
  disk_thresholds:
    pressure: 0.85
    emergency: 0.92
  prefer_large_first: true

notifications:
  log_room_id: ""
  send_deletion_summary: true
  send_nightly_status: true
  send_zero_deletion_summaries: false

rooms_allowlist: []
